<div class="row">
  <div class="col-lg-6">
    <%= link_to contacts_path, class: 'btn btn-default btn-xs' do %>
      <i class="fa fa-arrow-circle-left"></i> <%= t('label.button.go_back')%>
    <% end %>
  </div>
  <div class="col-lg-12">
    <hr>
  </div>
  <div class="col-lg-12 contact-info">
    <h4><%= t('label.main.add_contact')%></h4>
    <%= render 'form' %>
  </div>
</div>
