# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: efb977ef627a786217dcc911b55a064da4c81f6b0ed6591099a222abbdbf7dd2c52465dada643ea1fa4cdbd068b1a40ce2e7296629500bad75b89b629d7d0cd5

test:
  secret_key_base: 5b4a2f9dcc16c25ea17713b95011c8aad4e4c531692ce6832198a78b4eccbe51ff90621b11e494b6065fd6773f9854139c6b30a6791fea92a2669a14cd2e2629

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
