<div class="row" id="footer">
  <div class="col-xs-6 col-lg-6">
    <%= t('label.main.language') %>:
    <%= link_to t('label.button.english'), '?lang=en', class: 'btn btn-default btn-xs' %> |
    <%= link_to t('label.button.spanish'), '?lang=es', class: 'btn btn-default btn-xs' %>
  </div>
  <div class="col-xs-6 col-lg-6 text-right">
    Juan Lizarazo &copy; <%= Time.now.year %>
  </div>
</div>
