<div class="row" id="footer">
  <div class="col-lg-6">
    Language:
    <%= link_to 'English', '?lang=en', class: 'btn btn-default btn-xs' %> |
    <%= link_to 'Espanol', '?lang=es', class: 'btn btn-default btn-xs' %>
  </div>
  <div class="col-lg-6 text-right">
    Juan Lizarazo &copy; <%= Time.now.year %>
  </div>
</div>
