<div class="col-lg-6">
  <span class="text-muted">Language:</span>
  <%= link_to 'English', '?lang=en', class: 'btn btn-default btn-xs' %> |
  <%= link_to 'Espanol', '?lang=es', class: 'btn btn-default btn-xs' %>
</div>
<div class="col-lg-6 text-right">
  <h5 class="text-muted">Juan Lizarazo &copy; <%= Time.now.year %></h5>
</div>
